/* Globals CSS */

/* Ensure full height for React Native Web */
html,
body,
#root {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-family: 'Inter', sans-serif;
}

/* Custom Thin Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #c1c1c1;
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: #a8a8a8;
}