/* Globals CSS */

/* Ensure full height for React Native Web */
html,
body,
#root {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  font-family: 'Inter', sans-serif;
}